@mixin flex($justify, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  flex-wrap: wrap;
}
.wordWithMusicBrainz {
  width: 90%;
  @include flex(center, column);
  margin: 0 auto;
  margin-top: 70px;
  h2 {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .records {
    @include flex(space-evenly, row);
    .eachRecord {
      border: 2px solid #1f2633;
      margin: 30px;
      padding: 1.5rem;
      @include flex(flex-start, column);
      .word {
        font-size: 25px;
      }
      .record {
        @include flex(flex-start, column);
        margin-top: 16px;
        span {
          width: 100%;
          font-size: 18px;
          margin: 5px 0;
        }
      }
    }
  }
}
